    @media screen and (min-width: 700px) {
        .container {
            width: 40rem;
        }
        .b-subscription-form form {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            .input-and-error-state {
                width: 72%;
            }
            .subscription-form__email {
                width: 100%;
            }
            .subscription-message {
                text-align: left;
                margin-left: 3rem;
            }
            .button-cta {
                width: 25%;
            }
        }
    }