body.dark {
    background: $dark-background;
    header {
        background: $header-color-dark;
    }
    .title,
    .stats-number,
    .follower-count {
        color: white;
    }
    .box {
        background: $dark-card-bg;
    }
    footer {
        color: white;
    }
    .dark-mode-toggle {
        background: $darkThemeToggle;
        justify-content: flex-end;
    }
    .dark-mode-toggle_circle {
        background: $dark-background;
    }
    .dark-mode-option:hover p {
        color: white;
    }
    .box:hover {
        background: #333a56;
    }
}