@media screen and (min-width: 375px) {
    body {
        background: rgba(113, 85, 187) url(../../assets/images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: left top;
    }
}