/* ********* ********* ********* *********
                COLORS
   ********* ********* ********* **********/
$background: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$grayish-blue: hsl(246, 25%, 77%);

/* ********* ********* ********* *********
                SIZES & FONTS
   ********* ********* ********* **********/

// Breakpoints
$mobile: 600px;
$desktop: 1440px;

// Fonts
$font-family: Poppins, Arial, Helvetica, sans-serif;

html,
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	color: white;
	background: $background;
	background-image: url('../images/bg-intro-mobile.png');
	@include query-desktops {
		background-image: url('../images/bg-intro-desktop.png');
	}
	font: {
		family: $font-family;
		size: 16px;
	}
}
