/* ********* ********* ********* *********
                COLORS
   ********* ********* ********* **********/
/* ********* ********* ********* *********
                SIZES & FONTS
   ********* ********* ********* **********/
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  color: white;
  background: #ff7a7a;
  background-image: url("../images/bg-intro-mobile.png");
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 900px) {
  html,
body {
    background-image: url("../images/bg-intro-desktop.png");
  }
}

/* ********* ********* ********* *********
                BODY
   ********* ********* ********* **********/
body {
  padding: calc(50% - 80px / 2 - 73px) 0;
}
@media screen and (min-width: 900px) {
  body {
    padding: 0;
  }
}

/* ********* ********* ********* *********
                CONTAINER
   ********* ********* ********* **********/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 87.2%;
  margin: auto;
}
@media screen and (min-width: 900px) {
  .container {
    height: 100vh;
    flex-direction: row;
    width: 77.08%;
  }
}

.left-section {
  text-align: center;
  margin-bottom: 3rem;
}
@media screen and (min-width: 900px) {
  .left-section {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .right-section {
    margin-left: 2rem;
    min-width: 48.75%;
  }
}

/* ********* ********* ********* *********
                    FOOTER
   ********* ********* ********* **********/
footer {
  text-align: center;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-weight: 400;
}
footer a {
  color: white;
  text-decoration-line: none;
}

footer img.heart {
  width: 20px;
  display: inline-block;
  vertical-align: bottom;
}

/* ********* ********* ********* *********
                    LEFT SECTION
   ********* ********* ********* **********/
.main-title {
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.291667px;
}
@media screen and (min-width: 900px) {
  .main-title {
    font-size: 3.125rem;
    line-height: 3.4375rem;
    letter-spacing: -0.520833px;
    text-align: left;
  }
}

.main-description {
  font-size: 1rem;
  line-height: 1.625rem;
}

/* ********* ********* ********* *********
                    FORM
   ********* ********* ********* **********/
#form-container {
  background: #ffffff;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  text-align: center;
  padding: 1.5rem;
}
@media screen and (min-width: 900px) {
  #form-container {
    padding: 2.5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #dedede;
  background: white;
  padding: 1.2rem 1.213rem;
  font-weight: 600;
  font-size: 0.875rem;
  box-sizing: border-box;
  letter-spacing: 0.25px;
}
.form-input:focus {
  outline-color: #6055a5;
}
@media screen and (min-width: 900px) {
  .form-input {
    padding: 0.9375rem 2rem;
    line-height: 1.625rem;
  }
}

.form-control {
  position: relative;
  margin-bottom: 1rem;
  color: #ff7a7a;
}
.form-control.error {
  margin-bottom: 2.5rem;
}
.form-control.error .form-input {
  border: 2px solid #ff7a7a;
}
.form-control.error .error-icon {
  display: block;
}
.form-control.error small.error-message {
  display: block;
}
@media screen and (min-width: 900px) {
  .form-control {
    margin-bottom: 1.25rem;
  }
}

.form-control .error-icon {
  position: absolute;
  right: 1.6875rem;
  top: 1rem;
  display: none;
}

.form-control small.error-message {
  position: absolute;
  right: 0px;
  bottom: -1.2rem;
  font-size: 0.6875rem;
  font-style: italic;
  display: none;
  color: #ff7a7a;
  margin: 0;
  padding: 0;
}

/* ********* ********* ********* *********
                    BUTTONS
   ********* ********* ********* **********/
.call-to-action {
  border: none;
  text-align: center;
}

.call-to-action.form-information {
  border-radius: 10px;
  background: violet;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  margin: 0 0 2rem 0;
  background: #6055a5;
  font-size: 0.9375rem;
  line-height: 1.625rem;
  letter-spacing: 0.27 px;
  margin-bottom: 1.5rem;
  padding: 1.125rem 4.125rem;
}

#button-submit {
  background: #38cc8c;
  border-radius: 5px;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.625rem;
  margin-bottom: 0.5rem;
  padding: 0.9375rem 2.75rem;
  text-transform: uppercase;
  width: 100%;
}

#disclosure {
  color: #b9b6d3;
  line-height: 21px;
  padding: 0;
  margin: 0;
  font-size: 0.6875rem;
  font-weight: 400;
}
#disclosure a {
  text-decoration-line: none;
  color: red;
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
