
// Colors
$bgColor: hsl(180, 52%, 96%);
$bg: hsl(180, 29%, 50%);
$filterTablet: hsl(180, 31%, 95%);
$darkCyan: hsl(180, 8%, 52%);
$veryDarkCyan: hsl(180, 14%, 20%);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Fonts Size & Family
html, body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: {
    family: Spartan, Arial, Helvetica, sans-serif;
    size: 15px;
  }
  margin: 0;
  padding: 0;
}
