@import 'rem-func';
@import 'media-queries';

body{
    background: $bgColor;
}

header.b-page-header{
    background: url("../assets/images/bg-header-mobile.svg") $bg;
    height: rem(165px);
    margin-bottom: rem(81px);
    width: 100%;
    @include query-desktops {
        background: url("../assets/images/bg-header-desktop.svg") $bg;
    }
}

.b-offer-wrapper{
    margin: auto;
    width: 90%;
    @include query-desktops {
        margin: auto;
        width: 77%;
    }
}
