@import '_colors';
@import '_mobile';
@import '_dark-mode';
@mixin center-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Reset
* {
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

h1,
h2,
h3,
div,
p {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

header p {
    font-weight: 600;
    color: $text-grey;
}

// HEADER 
header {
    background: $header-color;
    padding-top: 40px;
    height: 240px;
}

header .container {
    @include center-flex;
}

.dark-mode-option {
    @include center-flex;
    color: $light-grey;
}

.dark-mode-toggle {
    @include center-flex;
    min-width: 60px;
    min-height: 30px;
    margin-left: 1rem;
    border-radius: 50px 50px;
    border: none;
    background: $light-grey;
    box-sizing: border-box;
}

.dark-mode-toggle_circle {
    height: 25px;
    width: 25px;
    margin: 3px;
    // scale: 90%;
    background: white;
    border-radius: 50px 50px;
    box-sizing: border-box;
}

// MAIN CONTENT
.main-stats-grid {
    @include center-flex;
    position: relative;
    top: -125px;
    margin-bottom: -70px;
    padding-bottom: 0;
    box-sizing: border-box;
}

.box {
    background: $lightCardBg;
    border-radius: 5px;
    width: 22%;
    padding: 2%;
    box-sizing: border-box;
}

.main-stats-box {
    @include center-flex;
    background: $lightCardBg;
    border-top: 4px $facebook solid;
    height: 250px;
    flex-direction: column;
    &:nth-child(2) {
        border-top-color: $twitter;
    }
    &:nth-child(3) {
        position: relative;
        border-top-color: $lightCardBg;
        &::before {
            content: "";
            width: 100%;
            position: absolute;
            top: -5px;
            background: $instagram;
            height: 5px;
            border-radius: 5px 5px 0 0;
        }
    }
    &:nth-child(4) {
        border-top-color: $youtube;
    }
}

.social-account {
    @include center-flex;
    font-weight: 600;
    color: $text-grey;
    font-size: 0.8em;
    .username {
        margin-left: 0.8em;
    }
}

.follower-count {
    text-align: center;
    .number-of-followers {
        font-size: 3.8rem;
        font-weight: 700;
    }
    & :last-child {
        letter-spacing: 0.2rem;
        color: $light-grey;
    }
}

.stat-growth--positive,
.stat-growth--negative {
    @include center-flex;
    font-weight: 600;
    img {
        margin: 0 0.5rem;
    }
}

.stat-growth--positive {
    color: $limeGreen;
}

.stat-growth--negative {
    color: $brightRed;
}

// Overview Section
h2.section-title {
    color: $text-grey;
    font-size: 1.8rem;
    margin: 1rem 0;
    font-weight: 600;
}

.overview-today-boxes {
    @include center-flex;
    flex-wrap: wrap;
}

.overview-single-box {
    @include center-flex;
    flex-direction: column;
    align-items: unset;
    align-content: space-between;
    height: 10rem;
    margin: 1rem 0;
}

.overview-header {
    @include center-flex;
    h3 {
        color: $text-grey;
        font-weight: 600;
    }
}

.overview-stats {
    @include center-flex;
    .stats-number {
        font-weight: 700;
        font-size: 2.2rem;
    }
}

@import '_mobile';