@media screen and (min-width: 1000px) {
    body {
        background: rgba(113, 85, 187) url(../../assets/images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: left top;
    }
    #logo img{
        max-width: 15%;
    }
    .container {
        width: 85%;
        .main-content{
            flex-direction: row;
            text-align: left;
            align-items: flex-start;
            .main-informations{
                display: flex;
                flex-direction: column;
                width: 42%;
                max-width: 50%;
                margin: 4rem 0 0 4rem;
                h2 {
                    font-size: 2.3rem;
                }
            }
            .main-image {
                width: 100%;
            }
            .button-cta {
                width: 10rem;
                padding: 0.9rem 3rem;

            }
        }
    }

footer{
    display: flex;
    justify-content: flex-end;
}

}