@media screen and (max-width: 600px) {
    body {
        background: rgba(113, 85, 187) url(../../assets/images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: left top;
    }
}