@import './_base';

body {
	color: $white;
	background-image: url(../assets/images/bg-mobile.svg);
	background-color: rgba(113, 85, 187);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
	// background-repeat: no-repeat;
	// background-size: auto 100%;
	// background-position: left top;

	@include query-desktops {
		background-image: url(../assets/images/bg-desktop.svg);
		background-size: cover;
	}
}

#logo img {
	width: 120px;
	@include query-desktops {
		width: 200px;
	}
}

.container {
	width: 78.9%;
	margin: 2.3875rem auto;
	@include query-desktops {
		margin-top: 4rem;
		width: 88.88%;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	text-align: center;
	font-weight: 300;
	@include query-desktops {
		flex-direction: row;
	}
}

.hero__illustration {
	min-width: 50%;

	img {
		width: 100%;
	}
}

.hero__text {
	text-align: center;

	@include query-desktops {
		text-align: left;
		margin-left: 60px;
		max-width: 40%;
	}
}

.text__heading {
	font-size: 1.5rem;
	font-weight: 500;
	font-family: $font-heading;
	@include query-desktops {
		font-size: 2.5rem;
	}
}
.text__description {
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.6875rem;
	@include query-desktops {
		font-size: 1.125rem;
	}
}

.main-image {
	@include query-desktops {
		max-width: 100%;
		margin-bottom: 2.5rem;
	}
}

.button {
	border: none;
	border-radius: 1.25rem;
	box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
	background: $white;
	color: white;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.125rem;
	margin-top: 1rem;
	padding: 0.6875rem 4.75rem;
	color: $violet;
	margin-bottom: 2rem;

	&:hover {
		color: $white;
		background-color: $pink;
	}

	@include query-desktops {
		padding: 0.8125rem 4rem;
		font-size: 1.125rem;
	}
}

// Footer & Copyright
.b-social-icons {
	color: $white;
	display: flex;
	justify-content: center;
	margin-top: 4rem;

	@include query-desktops {
		justify-content: flex-end;
		margin-top: 0rem;
	}

	.icon-button {
		border: 0.1rem solid $white;
		padding: 0.9rem;
		width: 0.5rem;
		height: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10rem 10rem;
		margin: 0.5rem;
		cursor: pointer;

		&:hover {
			color: $pink;
			border-color: $pink;
		}
	}
}
