@import './_base';

body {
    color: $white;
    background: rgba(113, 85, 187) url(../../assets/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left top;
}

#logo img{
        max-width: 50%;
    }


h2 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
}


.container {
    width: 85%;
    margin: auto;
    margin-top: 2rem;
}

p.introductory-p {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
}

.main-image {
    max-width: 100%;
    margin-bottom: 2.5rem;
}

.button-cta {
    border: none;
    border-radius: 10rem;
    box-shadow: 0px 3px 5px 0px #000000;
    background: $white;
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 1rem;
    padding: 0.6rem 4rem;
    color: $violet;
    margin-bottom: 2rem;
    

}

// Footer & Copyright
.b-social-icons {
    color: $white;
    display: flex;
    justify-content: center;
    .icon-button {
        border: 0.1rem solid $white;
        padding: 0.9rem;
        width: 0.5rem;
        height: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10rem 10rem;
        margin: 0.5rem;
    }
}
@import './_mobile-first';
@import './_desktop';